* {
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

body {
	font-family: "Arial", Times, serif;
	padding: 50px;
	margin: 10px;
	text-align: center;
	background-color: "#bce7ff";
}

#form {
	display: flex;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

input[type=submit], input[type=reset]:hover {
	opacity: 0.8;
}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}