<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" media="all"  
      href="../../css/index.css" th:href="@{/css/index.css}" />
</head>


<body bgcolor="#bce7ff">
	<h4>Login</h4>
	<hr>
	<div>
		<p th:text="${message}" />
	</div>

	<div id="form">
		<form action="cLogin" method="post">
			<table>
				<tr>
					<td><B>Username</B></td>
					<td><input type="text" name="username"></td>
				</tr>
				<tr>
					<td><B>Password</B>
					<td><input type="password" name="password"
						placeholder="Enter Password"><br></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Login"></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>